:root {
    --primary-font: "IRANSans";
    --primary-font-Medium: "IRANSans_Medium";
    --primary-font-Bold: "IRANSans_Bold";
    --primary-color: #367a5b;
    --dark-green:#1B4332;
    --light-green:#52B788;
    --white-color: #fff;
    --dark-gray: #333334;
    --light-gray: #767676;
}